<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Configurations that affect the Test Framework -->
  <RunConfiguration>
    <!--<MaxCpuCount>1</MaxCpuCount>-->
    <!-- Path relative to solution directory -->
    <ResultsDirectory>.\TestResults</ResultsDirectory>

    <!-- [x86] | x64
      - You can also change it from menu Test, Test Settings, Default Processor Architecture -->
    <!--<TargetPlatform>x86</TargetPlatform>-->

    <!-- Framework35 | [Framework40] | Framework45 -->
    <!--<TargetFrameworkVersion>Framework45</TargetFrameworkVersion>-->

    <!-- Path to Test Adapters -->
    <!--<TestAdaptersPaths>%SystemDrive%\Temp\foo;%SystemDrive%\Temp\bar</TestAdaptersPaths>-->
  </RunConfiguration>

  <!-- Configurations for data collectors -->
  <DataCollectionRunSettings>
    <!--<DataCollectors>
      <DataCollector friendlyName="Code Coverage" uri="datacollector://Microsoft/CodeCoverage/2.0" assemblyQualifiedName="Microsoft.VisualStudio.Coverage.DynamicCoverageDataCollector, Microsoft.VisualStudio.TraceCollector, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
        <Configuration>
          <CodeCoverage>
            --><!--<ModulePaths>
              <Exclude>
                <ModulePath>.*Test*.*</ModulePath>
              </Exclude>
            </ModulePaths>--><!--

            --><!-- We recommend you do not change the following values: --><!--
            <UseVerifiableInstrumentation>True</UseVerifiableInstrumentation>
            <AllowLowIntegrityProcesses>True</AllowLowIntegrityProcesses>
            <CollectFromChildProcesses>True</CollectFromChildProcesses>
            <CollectAspDotNet>False</CollectAspDotNet>

          </CodeCoverage>
        </Configuration>
      </DataCollector>

    </DataCollectors>-->
  </DataCollectionRunSettings>

  <!-- Parameters used by tests at runtime -->
  
	  <TestRunParameters>
		  <Parameter name="MobileUdid" value="emulator-5554" />
		  <Parameter name="AndroidAppPackage" value="com.g2k.parsifal.android" />
		  <Parameter name="AndroidAppActivity" value="com.g2k.parsifal.android.MainActivity" />
		  <Parameter name="noReset" value="true" />
		  <Parameter name="AppuimServer" value="http://localhost:4735/wd/hub" />
		  <Parameter name="MobileCloseDriver" value="true" />
		  <Parameter name="MobileGlobalUsername" value="g2kadmin" />
		  <Parameter name="MobileGlobalPassword" value="12345678" />
		  <Parameter name="WebGlobalUsername" value="administrator" />
		  <Parameter name="WebGlobalPassword" value="SG_P@ssw0rd1" />
		  <Parameter name="WebBaseUrl" value="https://dev.parsifal.live:8443/" />
		  <Parameter name="WebCloseDriver" value="true" />
      <Parameter name="ApiBaseUrl" value="https://apim-capp-dev.azure-api.net" />
		  <Parameter name="Globalscreenshootpath" value="C://TCs_Screenshots//" />
		  <Parameter name="Globalexportpath" value="‪C://Users//Administrator//Downloads//" />
	  </TestRunParameters>


  <!-- Adapter Specific sections -->

  <!-- MSTest adapter -->
  <!--<MSTest>
    <MapInconclusiveToFailed>True</MapInconclusiveToFailed>
    <CaptureTraceOutput>false</CaptureTraceOutput>
    <DeleteDeploymentDirectoryAfterTestRunIsComplete>False</DeleteDeploymentDirectoryAfterTestRunIsComplete>
    <DeploymentEnabled>False</DeploymentEnabled>
    <AssemblyResolution>
      <Directory path="D:\myfolder\bin\" includeSubDirectories="false"/>
    </AssemblyResolution>
  </MSTest>-->

</RunSettings>